
services:

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    expose:
      - "6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "8000"
    env_file:
      - .env
    environment:
      - TZ=America/Phoenix
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./volume:/volume
      - /etc/localtime:/etc/localtime:ro
      - ./banner.md:/app/banner.md:ro
      - ./songs.json:/app/songs.json:ro
    depends_on:
      - redis

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.web
    restart: unless-stopped
    expose:
      - "80"
    # ports:
    #   - "80:80"
    depends_on:
      - backend

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --config /etc/cloudflared/${CLOUDFLARE_CONFIG} run
    volumes:
      - ${CLOUDFLARE_DIRECTORY}:/etc/cloudflared
    restart: unless-stopped
    depends_on:
      - backend
      - frontend

volumes:
  redis_data: